<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1" />
<link href="css/styles.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/scripts.js}" /></script>
<title>Spring Boot Application</title>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<p>Books</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Publish year</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Category</th>
				<th sec:authorize="hasRole('ADMIN')">Delete</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.publishYear}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.price}"></td>
				<td th:text="${book.category}"></td>
				<!-- th:href="@{/delete/{id}(id=${book.id})}" -->
				<td sec:authorize="hasRole('ADMIN')"><a th:attr="onclick=|DeleteFunction(${book.id})|" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/editbook/{id}(id=${book.id})}">Edit</a></td>
			</tr>

		</tbody>
	</table>
	<a href="/addbook" class="btn btn-success">Add book</a>
	<form th:action="@{/logout}" method="post">
 	<input type="submit" value="Sign Out"/>
</form>
</body>
</html>